#edit
	p.search
		input(type='text', name='search')
		span.error !
		span.warn ?
		span.ok ok
	.map(style='width:300px;height:300px')

	form(action='locations', method='post')
		p
			label lat:			
				input(name='lat')
		p
			label lon:
				input(name='lon')
		p
			label zoom:
				input(name='zoom')
		p
			input(type='submit')
