#edit
	form.search.leftbox
		.input
			input#search(type='text', name='search', 
				placeholder='Start typing an address, city or country')
			label(for='search')
		.input.url(style='display:none')
			input(type='text', name='url', readonly='readonly')
			label(for='url')

	.map.fullscreen
