#edit
	form.search.topbox
		p
			input(type='text', name='search', 
				placeholder='Start typing address...')
			span.error !
			span.warn ?
			span.ok ok
		p
			input(type='text', name='url')

	.map.fullscreen
