!!! 5
html
	head
		title geolink
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type='text/javascript', src='/javascripts/require.js', data-main='/javascripts/application')
	body!= body
