!!! 5
html
	head
		title geolink
		link(rel='stylesheet', 
			href=(optimized ? '/optimized' : '')+'/stylesheets/style.css')
		script(src=(optimized ? '/optimized' : '')+'/javascripts/lib/require.js', 
			data-main=(optimized ? '/optimized' : '')+'/javascripts/application')
	body!= body
