!!! 5
html
	head
		title geolink
		meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
		link(rel='stylesheet', 
			href=(optimized ? '/optimized' : '')+'/stylesheets/style.css')
		script(src=(optimized ? '/optimized' : '')+'/javascripts/lib/require.js', 
			data-main=(optimized ? '/optimized' : '')+'/javascripts/application')
	body!= body
