body {
  font: 14px Arial, sans-serif;
}

.search .error, .search .warn, .search .ok {
	display: none;
}
.error .error, .warn .warn, .ok .ok{
	display: inline;
}
.error .search input {
	background-color: tomato;
}
.warn .search input {
	background-color: gold;
}
.ok .search input {
	background-color: chartreuse;
}

#edit{
	overflow: hidden;
}
form, .map {
	float: left;
	margin: 20px;
}
