body {
  font: 14px Arial, sans-serif;
}

.search .error, .search .warn, .search .ok {
	display: none;
}
.error .error, .warn .warn, .ok .ok{
	display: inline;
}
.error .search input {
	background-color: tomato;
}
.warn .search input {
	background-color: gold;
}
.ok .search input {
	background-color: chartreuse;
}

#edit{
	overflow: hidden;
}
form {
	position: fixed;
	right: 0;
	bottom: 0;
	background: white;
}

.topbox{
	background: #268bd2;
	position: absolute;
	top: 0;
	left: 50%;
	width: 300px;	
	margin: 0 0 0 -160px;
	padding: 10px;
	border-radius: 0 0 15px 15px;
	color: #e4e4e4;
	box-shadow: 0 0 15px #000;
	z-index:1;
}

.map.fullscreen{
	left: 0;
	top:0;
	width: 100%;
	height: 100%;
	position: absolute;
}
